function get_cookie(name) {
    /* copied from the Django doc */
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ed._heartbeatMessage = "{{ WS4REDIS_HEARTBEAT }}";
{% for s in signals %}$.ed._wsSignalConnect("s");
{% endfor %}
$.ed.csrfTokenValue = get_cookie("{{ CSRF_COOKIE_NAME }}")
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("{{ CSRF_HEADER_NAME }}", $.ed.csrfTokenValue);
        }
    }
});

